<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.standy.productions" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="10" />

	<application android:icon="@drawable/icon"
		android:label="@string/app_name">
		
		<activity android:name=".Splash" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Game4by4" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.GAME4" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Game3by3" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.GAME3" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Game" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.GAME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".Menu" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.MENU" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Instructions" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.INSTRUCTIONS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".Credits" android:label="@string/app_name">
			<intent-filter>
				<action android:name="com.standy.productions.CREDITS" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>


	</application>
</manifest>